:root {
    --black: #2e323f;
    --light-black: #3b4050;
    --gray: #6f737f;
    --light-gray: #f1f1f1;
    --white: #ffffff;
    --accent: #a59678;
    --dark-accent: #8c7f66;
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-oswald: "Oswald", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-montserrat);
    font-weight: 100;
    font-size: 16px;
    line-height: 1.3;
    min-width: 320px;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.header {
    background: var(--black);
    font-family: var(--ff-oswald);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.5em 0;
    border-bottom: 1px solid #000;
    position: relative;
}

.header .row {
    align-items: center;
}

.header .nav-toggle {
    display: none;
    position: absolute;
    right: 6px;
    top: 6px;
    background: var(--light-black);
    border: 1px solid #000;
    padding: 0 0.5em;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
}

.header .nav-toggle:hover {
    background: #444a5d;
}

.header .nav {
    display: flex;
    margin-left: auto;
    overflow: hidden;
    transition: all 0.35s ease;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li {
    margin: 0 0.5em;
}

.header a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

.header a:hover {
    opacity: 0.7;
}

.header .btn-signup {
    background: var(--accent);
    border-radius: 50px;
    padding: 0 1em;
}

.hero {
    background: var(--light-black);
    padding: 100px 0;
}

.hero .left {
    width: 40%;
}

.hero .right {
    width: 50%;
    align-self: flex-end;
}

.hero h1 {
    font-family: var(--ff-oswald);
    font-size: 5.625rem;
    line-height: 1.1;
    color: var(--white);
}

.hero span {
    color: var(--accent);
}

.hero p {
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1.25em;
}

.hero .btn {
    font-family: var(--ff-oswald);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    background: var(--accent);
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 0.2em 1em;
}

.hero .btn:hover {
    opacity: 0.7;
}

.section-2 {
    background: var(--light-gray);
    padding: 100px 0;
}

.section-2 .col {
    text-align: center;
    width: 26%;
}

.section-2 h2 {
    font-family: var(--ff-oswald);
    font-size: 1.875rem;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 1em;
}

.section-2 p {
    font-size: 1.125rem;
}

.section-3 {
    padding: 100px 0;
}

.section-3 h2 {
    font-family: var(--ff-oswald);
    font-weight: 600;
    line-height: 1.1;
}

.section-3 .left {
    width: 56%;
}

.section-3 .right {
    width: 32.5%;
}

.section-3 .left h2 {
    font-size: 2.25rem;
    color: var(--accent);
    margin-bottom: 0.8333333333333333em;
}

.section-3 .left p {
    font-size: 1.3125rem;
}

.section-3 img {
    display: block;
    margin: 2.5rem 0;
}

.section-3 .box {
    background: var(--light-black);
    text-align: center;
    padding: 40px;
    margin-bottom: 1rem;
}

.section-3 .box h2 {
    color: var(--white);
    margin-bottom: 0.6944444444444444em;
}

.section-3 .box p {
    color: var(--white);
}

.footer {
    background: var(--light-black);
    padding: 50px 0;
}

.footer .left {
    width: 35%;
}

.footer .right {
    width: 55%;
}

.footer h3 {
    font-size: 3rem;
    font-family: var(--ff-oswald);
    font-weight: 600;
    color: var(--white);
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1.458333333333333em;
}

.footer p {
    color: var(--white);
}

.footer h4 {
    font-family: var(--ff-oswald);
    font-size: 1.3125rem;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 1.428571428571429em;
}

.footer ul {
    list-style: none;
}

.footer li {
    margin-bottom: 1rem;
}

.footer a {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.footer a:hover {
    border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
    .hero,
    .section-2,
    .section-3 {
        padding: 50px 0;
    }

    .hero .row {
        flex-direction: column;
        text-align: center;
    }

    .hero h1 {
        margin-bottom: 0.3333333333333333em;
    }

    .hero .col {
        width: 100%;
    }

    .section-2 .row {
        flex-direction: column;
    }

    .section-2 .col {
        width: 100%;
        margin-bottom: 2rem;
    }

    .section-3 .row {
        flex-direction: column;
    }

    .section-3 .col {
        width: 100%;
    }

    .section-3 .right {
        display: flex;
        margin-top: 2em;
    }

    .section-3 .box {
        margin: 0 0.5rem;
        padding: 20px;
    }

    .footer .container > .row {
        flex-direction: column;
    }

    .footer .col {
        width: 100%;
    }

    .footer .left {
        margin-bottom: 2em;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0;
        border-bottom: 0;
    }

    .header .nav-toggle {
        display: block;
    }

    .header .row,
    .header .nav,
    .header ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header .logo-wrap {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #000;
        padding: 0.5em 0 0.3em;
    }

    .header .nav {
        margin-left: 0;
        height: 0;
    }

    .header.is-open .nav {
        height: 230.6px;
    }

    .header .nav-primary {
        border-top: 1px solid #3b4050;
        border-bottom: 1px solid #000;
        padding: 0.3em 0;
    }

    .header .nav-secondary {
        border-top: 1px solid #3b4050;
        padding: 0.3em 0;
    }

    .header li {
        margin: 0.5em;
    }

    .hero h1 {
        font-size: 3.75rem;
    }

    .section-3 .right {
        flex-direction: column;
    }

    .section-3 .box {
        margin-bottom: 2em;
    }

    .footer {
        text-align: center;
    }

    .footer .right {
        flex-direction: column;
    }
}
